* {
  margin: 0;
  padding: 0;
  background-color: #363334;
}

body {
  margin: 0;
  font: 15px;
  font-size:xx-large;
  font-weight:bolder;
  background-color: #363334;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1;
}

a:link {
    color: white;
}
  
a:visited {
    color: white;
}
  
a:hover {
    color:white;
}
  
a:active {
    color: white;
}